# build output
astro_starlight/dist/

# generated types
astro_starlight/.astro/

# dependencies
astro_starlight/node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store
